actividad9_12-01/n8n-workflows/1-workflow-notificaciones.json
{
  "name": "1. Notificaciones en Tiempo Real",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notificaciones",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "notificaciones"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.event}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.data}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "validar-datos",
      "name": "Validar Datos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "eventType",
              "value": "={{$json.event}}"
            },
            {
              "name": "eventId",
              "value": "={{$json.id}}"
            },
            {
              "name": "timestamp",
              "value": "={{$json.timestamp}}"
            },
            {
              "name": "eventData",
              "value": "={{JSON.stringify($json.data)}}"
            },
            {
              "name": "source",
              "value": "={{$json.metadata.source}}"
            }
          ]
        },
        "options": {}
      },
      "id": "transformar-datos",
      "name": "Transformar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4",
        "messages": {
          "values": [
            {
              "content": "=Eres un asistente del gimnasio que genera notificaciones amigables en español.\n\nEvento: {{$json.eventType}}\nDatos del evento: {{$json.eventData}}\n\nGenera un mensaje de notificación:\n- Usa emojis apropiados\n- Máximo 200 caracteres\n- Sé conciso y amigable\n- Incluye la información más relevante\n- Si es una alerta crítica, hazlo urgente\n\nFormato: Solo el mensaje, sin explicaciones adicionales.",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 150
        }
      },
      "id": "generar-mensaje-ia",
      "name": "Generar Mensaje con IA",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensajeCompleto",
              "value": "=*{{$json.eventType}}*\n\n{{$('Generar Mensaje con IA').item.json.message.content}}\n\n⏰ {{$json.timestamp}}"
            }
          ]
        },
        "options": {}
      },
      "id": "preparar-mensaje",
      "name": "Preparar Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "={{$json.mensajeCompleto}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "enviar-telegram",
      "name": "Enviar a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Notificación enviada\", \"eventId\": $json.eventId } }}"
      },
      "id": "respuesta-ok",
      "name": "Respuesta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Datos inválidos\", \"message\": \"El evento no contiene los campos requeridos\" } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respuesta-error",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Datos": {
      "main": [
        [
          {
            "node": "Transformar Datos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Datos": {
      "main": [
        [
          {
            "node": "Generar Mensaje con IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Mensaje con IA": {
      "main": [
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Enviar a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Telegram": {
      "main": [
        [
          {
            "node": "Respuesta OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "gym-hybrid-architecture"
  },
  "tags": []
}
